.body {
  background-color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat {
  width: 400px;
  height: 400px;
  margin: 20px;
  position: relative;
  background-color: #222;
  border: 3px solid #fff;
}
.dog {
  width: 400px;
  height: 400px;
  background-color: #222;
  border: 3px solid #fff;
}
#for_cat {
  position: absolute;
  width: 20rem;
  height: 2rem;
  top: 81%;
  left: 28%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: lightgoldenrodyellow;
}
#for_dog {
  position: absolute;
  top: 81%;
  left: 55%;
  width: 20rem;
  height: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: lightgoldenrodyellow;
}
#image1 {
  width: 400px;
  height: 400px;
}
#image {
  width: 400px;
  height: 400px;
}
button:active {
  transform: scale(0.8);
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    position: relative;
  }

  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .cat {
    width: 250px;
    height: 250px;
  }
  .dog {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
  }
  #image1 {
    width: 250px;
    height: 250px;
  }
  #image {
    width: 250px;
    height: 250px;
  }
  #for_cat {
    position: absolute;
    top: 42%;
    left: 40%;
    width: 8rem;
    height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1rem;
    background-color: lightgoldenrodyellow;
  }
  #for_dog {
    position: absolute;
    top: 92%;
    left: 20%;
    width: 15rem;
    height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1rem;
    background-color: lightgoldenrodyellow;
  }
}
